<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>policyCategoryPasswordChange</key>
	<array>
		<dict>
			<key>policyContent</key>
			<string>policyAttributeLastPasswordChangeTime + (policyAttributeDaysUntilExpiration * DAYS_TO_SECONDS) &lt; policyAttributeCurrentTime</string>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.maxMinutesUntilChangePassword</string>
			<key>policyParameters</key>
			<dict>
				<key>policyAttributeDaysUntilExpiration</key>
				<integer>365</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>FALSEPREDICATE</string>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.expirationDate</string>
		</dict>
	</array>
	<key>policyCategoryPasswordContent</key>
	<array>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.*?\\p{L}.*?){1,}?'</string>
			<key>policyContentDescription</key>
			<dict>
				<key>ar</key>
				<string>يجب أن تحتوي على حرف واحد على الأقل</string>
				<key>ca</key>
				<string>Ha de tenir 1 lletra com a mínim</string>
				<key>cs</key>
				<string>Minimální počet písmen: 1</string>
				<key>da</key>
				<string>Skal bestå af mindst 1 bogstav</string>
				<key>de</key>
				<string>Benötigt mindestens einen Buchstaben</string>
				<key>el</key>
				<string>Πρέπει να περιέχει τουλάχιστον 1 γράμμα</string>
				<key>en</key>
				<string>Must contain at least 1 letter</string>
				<key>en-AU</key>
				<string>Must contain at least 1 letter</string>
				<key>en-GB</key>
				<string>Must contain at least 1 letter</string>
				<key>es</key>
				<string>Debe contener 1 letra como mínimo</string>
				<key>es-419</key>
				<string>Debe tener al menos 1 letra</string>
				<key>fi</key>
				<string>On sisällettävä vähintään 1 kirjain</string>
				<key>fr</key>
				<string>Doit contenir au moins 1 lettre</string>
				<key>fr-CA</key>
				<string>Doit contenir au moins une lettre</string>
				<key>he</key>
				<string>חייב לכלול אות אחת לפחות</string>
				<key>hi</key>
				<string>कम से कम 1 अक्षर होना चाहिए</string>
				<key>hr</key>
				<string>Treba sadržavati najmanje 1 slovo</string>
				<key>hu</key>
				<string>Legalább 1 betűt kell tartalmaznia</string>
				<key>id</key>
				<string>Harus berisi setidaknya 1 huruf</string>
				<key>it</key>
				<string>Deve contenere almeno 1 lettera</string>
				<key>ja</key>
				<string>1文字以上の英字を含める必要があります</string>
				<key>ko</key>
				<string>최소 1개의 문자를 포함해야 함</string>
				<key>ms</key>
				<string>Mesti mengandungi sekurang-kurangnya 1 huruf</string>
				<key>nb</key>
				<string>Må inneholde minst 1 bokstav</string>
				<key>nl</key>
				<string>Moet minimaal 1 letter bevatten</string>
				<key>pl</key>
				<string>Musi zawierać co najmniej 1 literę</string>
				<key>policyDefaultContentDescription</key>
				<string>Must contain at least 1 letter</string>
				<key>pt-BR</key>
				<string>Deve conter ao menos 1 letra</string>
				<key>pt-PT</key>
				<string>Tem de conter, no mínimo, 1 letra</string>
				<key>ro</key>
				<string>Trebuie să conțină cel puțin 1 literă</string>
				<key>ru</key>
				<string>Должен содержать буквы (не менее 1)</string>
				<key>sk</key>
				<string>Musí obsahovať minimálne 1 písmeno</string>
				<key>sl</key>
				<string>Vsebovati mora najmanj eno črko</string>
				<key>sv</key>
				<string>Måste innehålla minst en bokstav</string>
				<key>th</key>
				<string>ต้องมีตัวอักษรอย่างน้อย 1 ตัว</string>
				<key>tr</key>
				<string>En az 1 harf içermelidir</string>
				<key>uk</key>
				<string>Має містити принаймні 1 букву</string>
				<key>vi</key>
				<string>Phải chứa ít nhất 1 chữ cái</string>
				<key>zh-HK</key>
				<string>必須包括至少1個字母</string>
				<key>zh-Hans</key>
				<string>必须包含至少1个字母</string>
				<key>zh-Hant</key>
				<string>必須包含至少1個字母</string>
			</dict>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.requiresAlpha</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumLetters</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(?=((.*?\\p{Lu}.*?){1,}?))(.*?\\p{Ll}.*?){1,}?'</string>
			<key>policyContentDescription</key>
			<dict>
				<key>ar</key>
				<string>يجب أن تحتوي على حرف كبير واحد وحرف صغير واحد على الأقل</string>
				<key>ca</key>
				<string>Ha de tenir 1 lletra en majúscula i 1 lletra en minúscula com a mínim</string>
				<key>cs</key>
				<string>Minimální počet velkých písmen: 1, minimální počet malých písmen: 1</string>
				<key>da</key>
				<string>Skal bestå af mindst 1 stort bogstav og 1 lille bogstav</string>
				<key>de</key>
				<string>Benötigt mindestens einen Groß- und einen Kleinbuchstaben</string>
				<key>el</key>
				<string>Πρέπει να περιέχει τουλάχιστον 1 κεφαλαίο και 1 πεζό γράμμα</string>
				<key>en</key>
				<string>Must contain at least 1 uppercase and 1 lowercase letter</string>
				<key>en-AU</key>
				<string>Must contain at least 1 upper case and 1 lower case letter</string>
				<key>en-GB</key>
				<string>Must contain at least 1 uppercase and 1 lowercase letter</string>
				<key>es</key>
				<string>Debe contener 1 letra en mayúscula y 1 letra en minúscula como mínimo</string>
				<key>es-419</key>
				<string>Debe tener al menos 1 letra mayúscula y 1 letra minúscula</string>
				<key>fi</key>
				<string>On sisällettävä vähintään 1 iso ja 1 pieni kirjain</string>
				<key>fr</key>
				<string>Doit contenir au moins 1 lettre majuscule et 1 lettre minuscule</string>
				<key>fr-CA</key>
				<string>Doit contenir au moins une lettre majuscule et 1 lettre minuscule</string>
				<key>he</key>
				<string>חייב לכלול אות גדולה אחת ואות קטנה אחת לפחות</string>
				<key>hi</key>
				<string>कम से कम 1 कैपिटल लेटर और 1 स्मॉल लेटर होना चाहिए</string>
				<key>hr</key>
				<string>Treba sadržavati najmanje 1 veliko i 1 malo slovo</string>
				<key>hu</key>
				<string>Legalább 1 nagybetűs és 1 kisbetűs karaktert kell tartalmaznia</string>
				<key>id</key>
				<string>Harus berisi setidaknya 1 huruf besar dan 1 huruf kecil</string>
				<key>it</key>
				<string>Deve contenere almeno 1 lettera maiuscola e 1 minuscola</string>
				<key>ja</key>
				<string>大文字を1文字以上、小文字を1文字以上含める必要があります</string>
				<key>ko</key>
				<string>최소 1개의 대문자와 1개의 소문자를 포함해야 함</string>
				<key>ms</key>
				<string>Mesti mengandungi sekurang-kurangnya 1 huruf besar dan 1 huruf kecil</string>
				<key>nb</key>
				<string>Må inneholde minst 1 stor og 1 liten bokstav</string>
				<key>nl</key>
				<string>Moet minimaal 1 hoofdletter en 1 kleine letter bevatten</string>
				<key>pl</key>
				<string>Musi zawierać co najmniej 1 wielką i 1 małą literę</string>
				<key>policyDefaultContentDescription</key>
				<string>Must contain at least 1 uppercase and 1 lowercase letter</string>
				<key>pt-BR</key>
				<string>Deve conter ao menos 1 letra maiúscula e 1 minúscula</string>
				<key>pt-PT</key>
				<string>Tem de conter, no mínimo, 1 letra maiúscula e 1 minúscula</string>
				<key>ro</key>
				<string>Trebuie să conțină cel puțin 1 literă majusculă și 1 literă minusculă</string>
				<key>ru</key>
				<string>Должен содержать прописные (не менее 1) и строчные (не менее 1) буквы</string>
				<key>sk</key>
				<string>Musí obsahovať minimálne 1 veľké a 1 malé písmeno</string>
				<key>sl</key>
				<string>Vsebovati mora najmanj eno veliko in eno malo črko</string>
				<key>sv</key>
				<string>Måste innehålla minst en stor och en liten bokstav</string>
				<key>th</key>
				<string>ต้องมีอักษรตัวพิมพ์ใหญ่อย่างน้อย 1 ตัว และตัวพิมพ์เล็กอย่างน้อย 1 ตัว</string>
				<key>tr</key>
				<string>En az 1 büyük ve 1 küçük harf içermelidir</string>
				<key>uk</key>
				<string>Має містити принаймні 1 велику й 1 малу букви</string>
				<key>vi</key>
				<string>Phải chứa ít nhất 1 chữ cái viết hoa và 1 chữ cái viết thường</string>
				<key>zh-HK</key>
				<string>必須包括至少1個大寫和1個小寫字母</string>
				<key>zh-Hans</key>
				<string>必须包含至少1个大写字母和1个小写字母</string>
				<key>zh-Hant</key>
				<string>必須包含至少1個大寫和1個小寫字母</string>
			</dict>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.requiresMixedCase</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumMixedCaseCharacters</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.*?[^\\p{L}|\\p{Nd}].*?){1,}?'</string>
			<key>policyContentDescription</key>
			<dict>
				<key>ar</key>
				<string>يجب أن تحتوي على رمز (غير الأحرف الأبجدية الرقمية) واحد على الأقل</string>
				<key>ca</key>
				<string>Ha de tenir com a mínim un símbol (caràcter no alfanumèric)</string>
				<key>cs</key>
				<string>Minimální počet symbolů (nealfanumerických znaků): 1</string>
				<key>da</key>
				<string>Skal bestå af mindst 1 symbol (ikke alfanumerisk tegn)</string>
				<key>de</key>
				<string>Muss mindestens 1 Symbol (nicht-alphanumerische Zeichen) enthalten</string>
				<key>el</key>
				<string>Πρέπει να περιέχει τουλάχιστον 1 σύμβολο (αλφαριθμητικό χαρακτήρα)</string>
				<key>en</key>
				<string>Must contain at least 1 symbol (non-alphanumeric) character</string>
				<key>en-AU</key>
				<string>Must contain at least 1 symbol (non-alphanumeric) character</string>
				<key>en-GB</key>
				<string>Must contain at least 1 symbol (non-alphanumeric) character</string>
				<key>es</key>
				<string>Debe contener un símbolo (carácter no alfanumérico) como mínimo</string>
				<key>es-419</key>
				<string>Debe tener al menos 1 símbolo (carácter no alfanumérico)</string>
				<key>fi</key>
				<string>On sisällettävä vähintään 1 symboli (ei-aakkosnumeerinen merkki)</string>
				<key>fr</key>
				<string>Doit contenir au moins 1 symbole (caractère non alphanumérique)</string>
				<key>fr-CA</key>
				<string>Doit contenir au moins un symbole (caractère non alphanumérique)</string>
				<key>he</key>
				<string>חייב לכלול תו סמל (לא אלפאנומרי) אחד לפחות</string>
				<key>hi</key>
				<string>कम से कम 1 चिह्न (ग़ैर अल्फ़ान्यूमैरिक) वर्ण होना चाहिए</string>
				<key>hr</key>
				<string>Treba sadržavati najmanje 1 simbol (znak koji nije slovnobrojčani)</string>
				<key>hu</key>
				<string>Legalább 1 szimbólumot (nem alfanumerikus karaktert) kell tartalmaznia</string>
				<key>id</key>
				<string>Harus berisi setidaknya 1 karakter simbol (nonalfanumeris)</string>
				<key>it</key>
				<string>Deve contenere almeno 1 simbolo (non alfanumerico)</string>
				<key>ja</key>
				<string>1個以上の記号文字（英数字以外）を含める必要があります</string>
				<key>ko</key>
				<string>최소 1개의 알파벳 문자 및 숫자가 아닌 기호를 포함해야 함</string>
				<key>ms</key>
				<string>Mesti mengandungi sekurang-kurangnya 1 aksara simbol (bukan abjad angka)</string>
				<key>nb</key>
				<string>Må inneholde minst ett symboltegn (ikke-alfanumerisk)</string>
				<key>nl</key>
				<string>Moet minimaal 1 symbool (niet-alfanumeriek teken) bevatten</string>
				<key>pl</key>
				<string>Musi zawierać symbole (znaki inne niż alfanumeryczne) (co najmniej 1)</string>
				<key>policyDefaultContentDescription</key>
				<string>Must contain at least 1 symbol (non-alphanumeric) character</string>
				<key>pt-BR</key>
				<string>Deve conter ao menos 1 caractere de símbolo (não alfanumérico)</string>
				<key>pt-PT</key>
				<string>Tem de conter, no mínimo, 1 símbolo (carácter não alfanumérico)</string>
				<key>ro</key>
				<string>Trebuie să conțină cel puțin 1 simbol (caracter non-alfanumeric)</string>
				<key>ru</key>
				<string>Должен содержать 1 символ (отличный от букв и цифр)</string>
				<key>sk</key>
				<string>Musí obsahovať minimálne 1 symbol (nealfanumerický znak)</string>
				<key>sl</key>
				<string>Vsebovati mora najmanj en simbol (znak, ki ni alfanumerični)</string>
				<key>sv</key>
				<string>Måste innehålla minst en symbol (icke-alfanumeriskt tecken)</string>
				<key>th</key>
				<string>ต้องมีอักขระที่เป็นสัญลักษณ์(ไม่ใช่อักษรเลข)อย่างน้อย 1 ตัว</string>
				<key>tr</key>
				<string>En az 1 sembol karakteri (alfasayısal olmayan) içermelidir</string>
				<key>uk</key>
				<string>Має містити принаймні 1 не буквено-цифровий символ</string>
				<key>vi</key>
				<string>Phải chứa ít nhất 1 ký tự biểu tượng (không phải là chữ và số)</string>
				<key>zh-HK</key>
				<string>必須包括至少1個符號（非英數）字元</string>
				<key>zh-Hans</key>
				<string>必须包含至少1个符号（非字母数字）字符</string>
				<key>zh-Hant</key>
				<string>必須包含至少1個符號（非英數）字元</string>
			</dict>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.requiresSymbol</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumSymbols</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '(.*?\\p{Nd}.*?){1,}?'</string>
			<key>policyContentDescription</key>
			<dict>
				<key>ar</key>
				<string>يجب أن تحتوي على رقم واحد على الأقل</string>
				<key>ca</key>
				<string>Ha de tenir 1 número com a mínim</string>
				<key>cs</key>
				<string>Minimální počet číslic: 1</string>
				<key>da</key>
				<string>Skal bestå af mindst 1 tal</string>
				<key>de</key>
				<string>Benötigt mindestens eine Zahl</string>
				<key>el</key>
				<string>Πρέπει να περιέχει τουλάχιστον 1 αριθμό</string>
				<key>en</key>
				<string>Must contain at least 1 number</string>
				<key>en-AU</key>
				<string>Must contain at least 1 number</string>
				<key>en-GB</key>
				<string>Must contain at least 1 number</string>
				<key>es</key>
				<string>Debe contener 1 número como mínimo</string>
				<key>es-419</key>
				<string>Debe tener al menos 1 número</string>
				<key>fi</key>
				<string>On sisällettävä vähintään 1 numero</string>
				<key>fr</key>
				<string>Doit contenir au moins 1 chiffre</string>
				<key>fr-CA</key>
				<string>Doit contenir au moins un chiffre</string>
				<key>he</key>
				<string>חייב לכלול מספר אחד לפחות</string>
				<key>hi</key>
				<string>कम से कम 1 संख्या होनी चाहिए</string>
				<key>hr</key>
				<string>Treba sadržavati najmanje 1 broj</string>
				<key>hu</key>
				<string>Legalább 1 számot kell tartalmaznia</string>
				<key>id</key>
				<string>Harus berisi setidaknya 1 angka</string>
				<key>it</key>
				<string>Deve contenere almeno 1 numero</string>
				<key>ja</key>
				<string>1個以上の数字を含める必要があります</string>
				<key>ko</key>
				<string>최소 1개의 숫자를 포함해야 함</string>
				<key>ms</key>
				<string>Mesti mengandungi sekurang-kurangnya 1 nombor</string>
				<key>nb</key>
				<string>Må inneholde minst 1 tall</string>
				<key>nl</key>
				<string>Moet minimaal 1 cijfer bevatten</string>
				<key>pl</key>
				<string>Musi zawierać co najmniej 1 cyfrę</string>
				<key>policyDefaultContentDescription</key>
				<string>Must contain at least 1 number</string>
				<key>pt-BR</key>
				<string>Deve conter ao menos 1 número</string>
				<key>pt-PT</key>
				<string>Tem de conter, no mínimo, 1 número</string>
				<key>ro</key>
				<string>Trebuie să conțină cel puțin 1 număr</string>
				<key>ru</key>
				<string>Должен содержать цифры (не менее 1)</string>
				<key>sk</key>
				<string>Musí obsahovať minimálne 1 číslo</string>
				<key>sl</key>
				<string>Vsebovati mora najmanj eno številko</string>
				<key>sv</key>
				<string>Måste innehålla minst en siffra</string>
				<key>th</key>
				<string>ต้องมีตัวเลขอย่างน้อย 1 ตัว</string>
				<key>tr</key>
				<string>En az 1 rakam içermelidir</string>
				<key>uk</key>
				<string>Має містити принаймні 1 цифру</string>
				<key>vi</key>
				<string>Phải chứa ít nhất 1 số</string>
				<key>zh-HK</key>
				<string>必須包括至少1個數字</string>
				<key>zh-Hans</key>
				<string>必须包含至少1个数字</string>
				<key>zh-Hant</key>
				<string>必須包含至少1個數字</string>
			</dict>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.requiresNumeric</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumNumericCharacters</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword != policyAttributeRecordName</string>
			<key>policyContentDescription</key>
			<dict>
				<key>ar</key>
				<string>يجب ألا تكون مماثلة لاسم الحساب</string>
				<key>ca</key>
				<string>No pot ser igual que el nom de compte</string>
				<key>cs</key>
				<string>Nesmí se shodovat s názvem účtu</string>
				<key>da</key>
				<string>Må ikke være det samme som kontonavnet</string>
				<key>de</key>
				<string>Darf nicht mit dem Accountnamen übereinstimmen</string>
				<key>el</key>
				<string>Δεν πρέπει να είναι ίδιο με το όνομα λογαριασμού</string>
				<key>en</key>
				<string>Must not be the same as the account name</string>
				<key>en-AU</key>
				<string>Must not be the same as the account name</string>
				<key>en-GB</key>
				<string>Must not be the same as the account name</string>
				<key>es</key>
				<string>No debe coincidir con el nombre de la cuenta</string>
				<key>es-419</key>
				<string>No debe ser igual al nombre de cuenta</string>
				<key>fi</key>
				<string>Ei voi olla sama kuin tilin nimi</string>
				<key>fr</key>
				<string>Doit être différent du nom du compte</string>
				<key>fr-CA</key>
				<string>Doit être différent du nom du compte</string>
				<key>he</key>
				<string>אינו יכול להיות זהה לשם החשבון</string>
				<key>hi</key>
				<string>खाता नाम के समान नहीं होना चाहिए</string>
				<key>hr</key>
				<string>Ne smije biti ista kao i naziv računa</string>
				<key>hu</key>
				<string>Nem lehet ugyanaz, mint a fióknév</string>
				<key>id</key>
				<string>Tidak boleh sama dengan nama akun</string>
				<key>it</key>
				<string>Non deve essere uguale al nome account</string>
				<key>ja</key>
				<string>アカウント名と異なる必要があります</string>
				<key>ko</key>
				<string>계정 이름과 동일하지 않아야 함</string>
				<key>ms</key>
				<string>Tidak boleh sama dengan nama akaun</string>
				<key>nb</key>
				<string>Kan ikke være det samme som kontonavnet</string>
				<key>nl</key>
				<string>Mag niet hetzelfde zijn als de accountnaam</string>
				<key>pl</key>
				<string>Nie może być takie samo jak nazwa konta</string>
				<key>policyDefaultContentDescription</key>
				<string>Must not be the same as the account name</string>
				<key>pt-BR</key>
				<string>Não deve ser igual ao nome da conta</string>
				<key>pt-PT</key>
				<string>Não pode ser igual ao nome da conta</string>
				<key>ro</key>
				<string>Trebuie să nu fie la fel cu numele contului</string>
				<key>ru</key>
				<string>Должен отличаться от имени учетной записи</string>
				<key>sk</key>
				<string>Nesmie byť rovnaké ako názov účtu</string>
				<key>sl</key>
				<string>Ne sme biti enako kot ime računa</string>
				<key>sv</key>
				<string>Får inte vara likadant som kontonamnet</string>
				<key>th</key>
				<string>ต้องไม่ซ้ำกับชื่อบัญชีที่เคยใช้ก่อนหน้า</string>
				<key>tr</key>
				<string>Hesap adıyla aynı olmamalıdır</string>
				<key>uk</key>
				<string>Має відрізнятися від імені облікового запису</string>
				<key>vi</key>
				<string>Không được phép giống với tên tài khoản</string>
				<key>zh-HK</key>
				<string>不得與帳户名稱相同</string>
				<key>zh-Hans</key>
				<string>必须不能与账户名称相同</string>
				<key>zh-Hant</key>
				<string>不得與帳號名稱相同</string>
			</dict>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.passwordCannotBeName</string>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>policyAttributePassword matches '.{16,}?'</string>
			<key>policyContentDescription</key>
			<dict>
				<key>ar</key>
				<string>يجب ألا يقل طولها عن 16 من الأحرف بحد أدنى</string>
				<key>ca</key>
				<string>Ha de tenir 16 caràcters com a mínim</string>
				<key>cs</key>
				<string>Minimální počet znaků: 16</string>
				<key>da</key>
				<string>Skal som minimum bestå af 16 tegn</string>
				<key>de</key>
				<string>Muss mindestens 16 Zeichen lang sein</string>
				<key>el</key>
				<string>Πρέπει να περιέχει τουλάχιστον 16 χαρακτήρες</string>
				<key>en</key>
				<string>Must be a minimum of 16 characters in length</string>
				<key>en-AU</key>
				<string>Must be a minimum of 16 characters in length</string>
				<key>en-GB</key>
				<string>Must be a minimum of 16 characters in length</string>
				<key>es</key>
				<string>Debe tener una longitud de 16 caracteres como mínimo</string>
				<key>es-419</key>
				<string>Debe tener una longitud mínima de 16 caracteres</string>
				<key>fi</key>
				<string>On oltava vähintään 16 merkkiä pitkä</string>
				<key>fr</key>
				<string>Doit contenir au moins 16 caractères</string>
				<key>fr-CA</key>
				<string>Doit contenir au moins 16 caractères</string>
				<key>he</key>
				<string>האורך המינימלי חייב להיות 16 תווים</string>
				<key>hi</key>
				<string>न्यूनतम लंबाई 16 वर्णों की होनी चाहिए</string>
				<key>hr</key>
				<string>Treba sadržavati najmanje 16 znakova</string>
				<key>hu</key>
				<string>Minimum 16 karakter hosszúságúnak kell lennie</string>
				<key>id</key>
				<string>Harus minimum sepanjang 16 karakter</string>
				<key>it</key>
				<string>Deve contenere un minimo di 16 caratteri</string>
				<key>ja</key>
				<string>16文字以上でなければなりません</string>
				<key>ko</key>
				<string>문자의 길이는 최소 16자여야 함</string>
				<key>ms</key>
				<string>Mesti minimum panjang 16 aksara</string>
				<key>nb</key>
				<string>Må inneholde minst 16 tegn</string>
				<key>nl</key>
				<string>Mag niet korter zijn dan 16 tekens</string>
				<key>pl</key>
				<string>Może mieć minimalnie długość 16 znaków</string>
				<key>policyDefaultContentDescription</key>
				<string>Must be a minimum of 16 characters in length</string>
				<key>pt-BR</key>
				<string>Deve ter no mínimo 16 caracteres</string>
				<key>pt-PT</key>
				<string>Tem de ter, no mínimo, 16 caracteres</string>
				<key>ro</key>
				<string>Trebuie să aibă lungimea de minimum 16 caractere</string>
				<key>ru</key>
				<string>Должен быть не менее 16 симв. длиной</string>
				<key>sk</key>
				<string>Dĺžka nesmie byť kratšia ako minimálny počet znakov (16)</string>
				<key>sl</key>
				<string>Vsebovati mora najmanj toliko znakov: 16</string>
				<key>sv</key>
				<string>Måste vara minst 16 tecken långt</string>
				<key>th</key>
				<string>ต้องมีอักขระอย่างน้อย 16 ตัว</string>
				<key>tr</key>
				<string>Uzunluğu minimum 16 karakter olmalıdır</string>
				<key>uk</key>
				<string>Має бути не коротше 16 символів</string>
				<key>vi</key>
				<string>Phải có độ dài tối thiểu 16 ký tự</string>
				<key>zh-HK</key>
				<string>密碼長度最短必須為16個字元</string>
				<key>zh-Hans</key>
				<string>最小长度必须为16个字符</string>
				<key>zh-Hant</key>
				<string>密碼長度最短必須為16個字元</string>
			</dict>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.minChars</string>
			<key>policyParameters</key>
			<dict>
				<key>minimumLength</key>
				<integer>16</integer>
			</dict>
		</dict>
		<dict>
			<key>policyContent</key>
			<string>none policyAttributePasswordHashes in policyAttributePasswordHistory</string>
			<key>policyContentDescription</key>
			<dict>
				<key>ar</key>
				<string>يجب ألا تكون مماثلة لكلمات السر الـ 5 السابقة</string>
				<key>ca</key>
				<string>No pot ser igual que les 5 contrasenyes anteriors</string>
				<key>cs</key>
				<string>Nesmí se shodovat s 5 předchozími hesly</string>
				<key>da</key>
				<string>Må ikke være den samme som de tidligere 5 adgangskoder</string>
				<key>de</key>
				<string>Darf nicht mit einem der letzten 5 Passwörter übereinstimmen</string>
				<key>el</key>
				<string>Δεν πρέπει να είναι ίδιο με 5 προηγούμενα συνθηματικά</string>
				<key>en</key>
				<string>Must not be the same as the previous 5 passwords</string>
				<key>en-AU</key>
				<string>Must not be the same as the previous 5 passwords</string>
				<key>en-GB</key>
				<string>Must not be the same as the previous 5 passwords</string>
				<key>es</key>
				<string>No debe coincidir con las 5 contraseñas anteriores</string>
				<key>es-419</key>
				<string>No debe ser igual a las últimas 5 contraseñas previas.</string>
				<key>fi</key>
				<string>Ei voi olla sama kuin 5 viimeisintä salasanaa</string>
				<key>fr</key>
				<string>Doit être différent des 5 mots de passe précédents</string>
				<key>fr-CA</key>
				<string>Doit être différent des 5 mots de passe précédents</string>
				<key>he</key>
				<string>חייב להיות שונה מ-5 הסיסמאות הקודמות</string>
				<key>hi</key>
				<string>पिछले 5 पासवर्ड के समान नहीं होना चाहिए</string>
				<key>hr</key>
				<string>Ne smije biti ista kao i prošle 5 lozinke</string>
				<key>hu</key>
				<string>Nem lehet ugyanaz, mint az előző 5 jelszó</string>
				<key>id</key>
				<string>Tidak boleh sama dengan 5 kata sandi sebelumnya</string>
				<key>it</key>
				<string>Non deve essere uguale alle ultime 5 password</string>
				<key>ja</key>
				<string>前の5個のパスワードと異なる必要があります</string>
				<key>ko</key>
				<string>이전 암호 5개와 동일하지 않아야 함</string>
				<key>ms</key>
				<string>Tidak boleh sama dengan kata laluan 5 sebelumnya</string>
				<key>nb</key>
				<string>Kan ikke være det samme som de 5 foregående passordene</string>
				<key>nl</key>
				<string>Mag niet hetzelfde zijn als de vorige 5 wachtwoorden</string>
				<key>pl</key>
				<string>Musi się różnić od 5 poprzednich haseł</string>
				<key>policyDefaultContentDescription</key>
				<string>Must not be the same as the previous 5 passwords</string>
				<key>pt-BR</key>
				<string>Não deve ser igual às 5 senhas anteriores</string>
				<key>pt-PT</key>
				<string>Não pode ser igual às 5 palavras-passe anteriores</string>
				<key>ro</key>
				<string>Trebuie să nu fie la fel cu precedentele 5 parole</string>
				<key>ru</key>
				<string>Должен отличаться от 5 предыдущих паролей</string>
				<key>sk</key>
				<string>Nesmie byť rovnaké ako predošlé heslá (5)</string>
				<key>sl</key>
				<string>Ne sme biti enako kot toliko prejšnjih gesel: 5</string>
				<key>sv</key>
				<string>Får inte vara likadant som de 5 föregående lösenorden</string>
				<key>th</key>
				<string>ต้องไม่ซ้ำกับรหัสผ่านที่เคยใช้ 5 ชุดก่อนหน้า</string>
				<key>tr</key>
				<string>Önceki 5 parolayla aynı olmamalıdır</string>
				<key>uk</key>
				<string>Має відрізнятися від попередніх 5 паролів.</string>
				<key>vi</key>
				<string>Không được phép giống với 5 mật khẩu trước đây</string>
				<key>zh-HK</key>
				<string>不得與前5個密碼相同</string>
				<key>zh-Hans</key>
				<string>必须不能与前5个密码相同</string>
				<key>zh-Hant</key>
				<string>不得與前5個密碼相同</string>
			</dict>
			<key>policyIdentifier</key>
			<string>com.apple.policy.legacy.usingHistory</string>
			<key>policyParameters</key>
			<dict>
				<key>policyAttributePasswordHistoryDepth</key>
				<integer>5</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>